<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circlelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MywineActivity"
            android:exported="false" />
        <activity
            android:name=".IndexActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewReadActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewInsertActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPageActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ReadActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MypageFragment"
            android:exported="false" />
        <activity
            android:name=".SearchFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>